@page "/counter"
@inject IConsoleMessageService consoleMessageService
@inject IStringLocalizer<CounterPage> loc

<h1>Counter from Pilet!!</h1>

<h2>@greeting</h2>

<p>Current count: @currentCount</p>

<p>Current language: @System.Globalization.CultureInfo.CurrentCulture.Name</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    int currentCount = 0;
    string greeting;

    protected override void OnInitialized()
    {
        greeting = loc["greeting"];
    }

    void IncrementCount()
    {
        currentCount++;
    }
}
