@page "/counter"

@inherits ViewModelInjectComponentBase<IViewModel>

<h1>Counter from Standalone Pilet</h1>

<p>Current count: @ViewModel.CurrentCount</p>
<p>Name: @ViewModel.Name</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<p>Also a counter with React for comparison:</p>

<Extension Name="react-counter" />

@code {
    [Parameter]
    [PiralQueryParameter]  
    public string Foo { get; set; } 

    void IncrementCount()
    {
        ViewModel.CurrentCount++;
        ViewModel.Name = $"new name {ViewModel.CurrentCount} -- parameter: {Foo}";
    }
}
