@page "/counter"

<div>
    <p>Current count: @counter</p>
    <p>
        <button @onclick="Increment">Increment</button>
    </p>
</div>

@code {
    int counter = 0;

    void Increment()
    {
        counter++;
    }
}
