@inject IComponentActivationService Activation
@inject ILogger<App> Logger

@foreach (var active in Activation.Components)
{
    <div id="@active.ReferenceId">
        <div style="display: contents">
            <DynamicComponent Type="@active.Component" Parameters="@active.Args" />
        </div>
    </div>
}

@code {
    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Activation.Changed += (s, e) =>
            {
                this.StateHasChanged();
            };
        }

        return base.OnAfterRenderAsync(firstRender);
    }
}